.App {
  font-family: "Arial", sans-serif;
  background-color: #fffdf5; /* Light yellow background */
  height: 100vh;
  overflow-x: hidden;
}

.sections-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Additional Section Styling */
.home, .projects, .experience {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}