.App {
  font-family: "Arial", sans-serif;
  background-color: #fffdf5; 
  height: 100vh;
  overflow-x: hidden;
}

.sections-container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.home, .projects, .experience {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root {
  --bg-color: #fffdf5;
  --text-color: #000;
}
.app.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

.app {
  background-color: var(--bg-color);
  color: var(--text-color);
}